@import '../../../assets/css/variables';

.main_help {
  margin: 0 auto;
  max-width: 600px;
}

.help__inner {
  position: relative;
  padding: 1rem;

  background-color: $color-background;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-line-half;
  }
  &:before {
    top: 1rem;
  }
  &:after {
    bottom: 1rem;
  }
}

.help__description {
  padding: 1rem;
}
