$width-container: 1400px;
$width-aside: 230px;

$width-sku: 200px;
$height-sku: 300px;

$color-primary: rgb(255, 230, 0);

$color-background: black;

$color-line: rgb(255, 230, 0);
$color-line-half: rgb(255, 230, 0, 0.5);

// $color-blackout: rgb(255, 230, 0, 0.1);
$color-blackout: rgb(0, 0, 0, 0.7);

$color-inactive: gray;

$text-shadow: 0px 0px 0.5rem $color-primary;
$box-shadow: 0px 0px 3rem $color-line-half;
